h3 {
color: #888;
font-size: 18px;
font-weight: normal;
line-height: 20pt;
margin: 0px;
}

a:link, a:visited {
color: #474747;
font-weight: bold;
text-decoration: none;
}

div#container {
margin-left: auto;
margin-right: auto;
position: relative;
width: 948px;	
}

.fullPage {
float: left;
}

.leftColumn {
float: left;
margin-right: 20px;
overflow: hidden;
width: 555px;
}

.rightColumn {
float: left;
overflow: hidden;
width: 285px;
}

.rightColumn #reasons {
background-color: #F9F9F9;
border: 1px solid #CCC;
border-bottom-left-radius: 5px 5px;
border-bottom-right-radius: 5px 5px;
border-top-left-radius: 5px 5px;
border-top-right-radius: 5px 5px;
margin-bottom: 13px;
overflow: hidden;
}

#regOptionBox {
background: #F9F9F9;
border: 1px solid #CCC;
border-bottom-left-radius: 5px 5px;
border-bottom-right-radius: 5px 5px;
border-top-left-radius: 5px 5px;
border-top-right-radius: 5px 5px;
height: 375px;
margin-bottom: 20px;
padding: 19px;
}

h2 {
color: #06C;
font-size: 24px;
font-weight: normal;
margin: 0px;
}

.fullPage h2 {
color: #444;
font-size: 20px;
font-weight: bold;
}

#regOptions h2 {
font-size: 23px;
}

body #home {
margin-top: 0px;
}

a#logo p {
font-size: 40px;
margin: 0px;
}

.signInOption {
float: left;
margin: 0px;
padding: 0px;
width: 515px;
}

.regOptionSeperator hr {
width: 230px;
}

.regOptionSeperator p {
width: 35px;
margin: 0px 0px 0px 15px;
}

form .input-wrapper {
border-width: 0px;
height: 45px;
position: relative;
width: 210px;
}

form .input-wrapper label {
color: #888;
font-size: 12px;
height: 40px;
line-height: 40px;
left: 0px;
margin: -2px 0px 0px 11px;
position: absolute;
top: 0px;
width: 176px;
z-index: 1;
}

form .input-wrapper input {
border: 1px solid #C2C2C2;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
font-size: 12px;
padding: 8px;
width: 200px;
}

body button {
border-radius: 4px 4px;
-moz-border-radius: 4px 4px;
-webkit-border-radius: 4px 4px;
cursor: pointer;
float: left;
padding: 10px 15px;
}

div.signInOption button {
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#BDBDBD), to(#8C8C8C));
background: -moz-linear-gradient( center top , #BDBDBD 0% , #8C8C8C 100% ) repeat scroll 0 0 transparent;
border: 1px solid #8C8C8C;
color: black;
font-size: 14px;
width: 194px;
height: 25px;
line-height: 3px;
}

.centerColumn {
float: left;
overflow: hidden;
width: 555px;
margin-left: 155px;
margin-right: 150px;
}

div#home-sign-in {
background: #F9F9F9;
border: 1px solid #CCC;
border-bottom-left-radius: 5px 5px;
border-bottom-right-radius: 5px 5px;
border-top-left-radius: 5px 5px;
border-top-right-radius: 5px 5px;
height: 375px;
margin-bottom: 20px;
padding: 19px;
}
