{% extends "new_base.html" %}

{% block title %} the top out :: signup {% endblock %}
{% block non_header_style %}
<link rel="stylesheet" type="text/css" href="/site_media/css/registration_form.css"/>
{% endblock %}

{% load facebook_tags %}
{% facebook_js %}

{% block content %}
<div id="container">
  <div id="body">
    <div id="content">
      <div id="registrationPage" class="fullPage">
        <div id="regPageHeader">
          <div class="leftColumn">
            <div id="regOptionBox">

              <div class="regOption" id="facebookReg">
                <h3>Sign up right now with your Facebook account:</h2>
              {% facebook_button %}
              </div>

              <div class="regOption" id="googleReg">
                <h3>Sign up with your Google account:</h3>
              </div>

              <div class="regOption" id="topoutReg">
              <h3>Create your own account on the top out.</h3>
              <form accept-charset="UTF-8" method="post" action=".">
              {% csrf_token %}

              <div class="field_username">
                <span>
                  <label for="username">Username</label>
                  <div class="clear"></div>
                </span>
                <input id="username" size="30" type="text">
              </div>

<div class="field_email">
<span>
<label for="email">Email Address</label>
<div class="clear"></div>
</span>
<input id="email" size="75" type="text">
</div>

<div class="field_password1">
<span>
<label for="password1">Password</label>
<div class="clear"></div>
</span>
<input id="password1" type="text">
</div>

<div class="field_password2">
<span>
<label for="password2">Confirm Password</label>
<div class="clear"></div>
</span>
<input id="password2" type="text">
</div>

        <input type="submit" value="Submit" />
        <div class="clear"></div>
      </form>
    </div>
  </div>
</div>

<div class="rightColumn">
  <div id="reasons">
    <h2>Why Should I Register?</h2>
  </div>
</div>

</div>
</div>
</div>
</div>
</div>
{% endblock %}
