{% extends "base.html" %}
{% load facebook_tags %}

{% block title %} the top out :: signup {% endblock %}
{% block non_header_style %}
<link rel="stylesheet" type="text/css" href="/site_media/css/registration_form.css"/>
{% facebook_js %}
{% endblock %}

{% block content %}
<div id="container">
  <div id="body">
    <div id="content">
      <div id="registrationPage" class="fullPage">
        <div id="regPageHeader">
          <div class="leftColumn">
            <div id="regOptionBox">

              <div class="regOption" id="facebookReg">
                <h3>Sign up right now with your Facebook account:</h2>
                <br/>
                {% facebook_button %}
                <br/>
              </div>

              <div class="clear"></div>
              
              <div class="regOptionSeperator">
                <hr style="float: left;">
                <p style="float: left;">OR</p>
                <hr style="float: right;">
              </div>

              <div class="clear"></div>
              
              <div class="regOption" id="topoutReg">
              <br/>
              <h3>Create your own account on the top out.</h3>
              <br/>
              <form accept-charset="UTF-8" id="login-form" method="post" autocomplete="off" action=".">
              {% csrf_token %}

              <div class="input-wrapper">
                <label for="username">Username</label>
                <input id="username" size="30" type="text">
              </div>

              <div class="input-wrapper">
                <label for="email">Email Address</label>
                <input id="email" size="30" type="text">
              </div>

              <div class="input-wrapper">
                <label for="password1">Password</label>
                <input id="password1" size="30" type="password">
              </div>

              <div class="input-wrapper">
                <label for="password2">Confirm Password</label>
                <input id="password2" size="30" type="password">
              </div>

        <button type="submit" value="submit"/>Create Account</button>
        <div class="clear"></div>
      </form>
    </div>
  </div>
</div>

<div class="rightColumn">
  <div id="reasons">
    <h2>Why Should I Register?</h2>
  </div>
</div>

</div>
</div>
</div>
</div>
</div>
{% endblock %}
