<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>{% block title %} the top out {% endblock %}</title>

		<script type="text/javascript" src="/site_media/javascript/jquery-1.4.4.min.js"></script>
		<script type="text/javascript" src="/site_media/javascript/signin.js"></script>

		<meta name="description" content="An app to track your climbing."/>
		<meta name="keywords" content="bouldering, climbing"/>

		<link rel="stylesheet" type="text/css" href="/site_media/css/anon_home.css" />
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-21179527-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
	</head>

	<body>
		<div id="home">
			<div id="home-banner">
				<div class="home-wrapper" id="top-wrapper">

					<div id="topLeftPane">
						<h1>the top out</h1>
						<p>Send routes. Bask in glory.</p>
					</div>
					<div id="topRightPane">
						
            <div id="home-sign-in">
            Have an account?
            <a href="{% url auth_login %}">Sign in</a>
						</div>

						<div id="home-sign-up">
							<a href="/accounts/register/" id="sign-up"><button type="submit">Sign Up Now</button></a>
						</div>

					</div>
				</div>
				</div>

				<div class="home-wrapper" id="bottom-wrapper">
					<div id="bottomLeftPane">

						<div id="activity-heading">
							RECENT ACTIVITY
						</div>
						
						<div id="activity-items">
							
							{% for item in home_activity_list %}
							<div class="activity-item">
								<div class="item-image">
									<a href="/"><img width="45" height="45" alt="Ian Whalen" src="/site_media/user_ian.jpg"></a>
								</div>
								<div class="item-content">
									<p>
									{{ item.climber.username }} sent a {{ item.route.difficulty }} route at 
									<a href="{{ item.route.gym.get_absolute_url }}">{{ item.route.gym.gym_name }}</a>.
									</p>
								</div>
								<div class="item-icon"></div>
								<div class="clear"></div>
							</div>
							{% endfor %}

						</div>

					</div>
				</div>

			</div>
		</div>
	</body>
