<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>

		<title>{% block title %} the top out {% endblock %}</title>

		<meta name="description" content="A bouldering app to track your climbing."/>
		<meta name="keywords" content="bouldering, climbing"/>

    <link rel="stylesheet" type="text/css" href="/site_media/css/header.css"/>
    <script type="text/javascript" src="/site_media/javascript/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="/site_media/javascript/signin.js"></script>
		{% block non_header_style %}
    <link rel="stylesheet" type="text/css" href="/site_media/css/style.css"/>
    {% endblock %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-21179527-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
	</head>

	<body>

		<div id="header">
			<div class="outsideContainer">
				<ul id="topNav">
					{% if user.is_authenticated %}
					<li id="name">{% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user.username }}{% endif %}</li>
					<li>
						<a href="">Help</a>
					</li>
					<li>
						<a href="">Settings</a>
					</li>
					<li>
					<a href="{% url auth_logout %}">Sign Out</a>
					</li>
					{% else %}
					<li>
					<a href="{% url auth_login %}">Sign in</a>
					</li>	
					<li>
						<a href="">Help</a>
					</li>
					<li>
						<a href="">Settings</a>
					</li>
					<li>
					<a href="{% url registration_register %}">Sign Up</a>
					</li>
					{% endif %}
				</ul>
				<a href="/" id="logo"><p>The Top Out</p></a>
			</div>
		</div>
			
		<div id="navbar">

      <div class="outsideContainer">
      {% if user.is_authenticated %}
        <ul id="navbarItems">
          <li><a href="/">Home</a></li>
          <li><a href="/gyms/brooklyn-boulders/">Gyms</a></li>
          <li><a href="/">Stats</a></li>
          <li class="last-item"><a href="/">Friends</a></li>
        </ul>
      {% endif %}
      </div>

		</div>

		{% block content %}{% endblock %}

		<div id="footer">
		</div>
	</body>

</html>
