{% extends "base.html" %}

{% block title %}the top out :: {{ gym.gym_name }}{% endblock %}

{% block non_header_style %}
<link rel="stylesheet" type="text/css" href="/site_media/css/gym.css"/>
{% endblock %}

{% block content %}
<div id="container">
	<div id="body">
		<div id="content">
			<div id="gymPage" class="fullPage">

				<div id="gymPageHeader">
					<div class="leftColumn">
						<div id="gymDetail">
							<h2>{{ gym.gym_name }}</h2>
						</div>
					</div>
					<div class="rightColumn">
						<div class="stats">
							<ul>
								<li style="width:75px">
									YOUR CLIMBS
									<strong>{{ climber_list.count }}</strong>
								</li>
								<li style="width:75px">
									TOTAL CLIMBERS
									<strong>205</strong>
								</li>
								<li style="width: 90px; border-right: none">
									TOTAL LIVE ROUTES
									<strong>{{ gym_list.count }}</strong>
								</li>
							</ul>
						</div>
					</div>
				</div>	

				<div id="routesContainer" class="contentContainer">
					<div class="header">
						<p>All Routes</p>
					</div>

          <ul class="ManageList" id="RouteList">
            
            {% for route in gym_list %}
            <li>

            <div class="Column1">
								<div class="RouteColorImage">
									{% if not route.secondary_color %}
									<div style="background: {{ route.primary_color }}; height: 32px;"></div>
									{% else %}
									<div style="float: left; background: {{ route.primary_color }}; height: 32px; width: 50%;"></div>
									<div style="float: left; background: {{ route.secondary_color }}; height: 32px; width: 50%;"></div>
									{% endif %}
								</div>
								<h3>{{ route }}</h3>
								<p>{{ route.wall }}</p>
							</div>

              <div class="Column2">
                <h3><b>{{ route.difficulty }}</b></h3>
              </div>

              <div class="Column3">
                {{ route.completed_route_set.latest.created }}
              </div>

              <div class="Column4">
								<span>
								{% if user.is_authenticated %}
										<form action="/gyms/{{ gym.gym_slug }}/routes/{{ route.id }}/complete/" method="post">
											{% csrf_token %}
											<input type="hidden" name="route_id" value="{{ route.id }}" />
											<input type="submit" value="Mark As Done" class="newGreenButton" id="MarkRouteAsDone"/>
										</form>
								{% else %}
								<form action="{% url registration_register %}" method="link">
									<input type="submit" value="Mark As Done" class="newGreenButton" id="MarkRouteAsDone"/>
								</form>
								{% endif %}
								</span>
							</div>

              <div style="clear: both;"></div>
  
              </li>
						{% endfor %}
					</ul>
				</div>

			</div>
		</div>
	</div>
{% endblock %}
