{% extends 'new_base.html' %}

{% block content %}

  <div class="container prepend-top">
      <div class="span-16 leftColumn">

          <div id="userInfo">
            <h2>Hi {% firstof user.get_full_name user.username %}!</h2>
            <hr>
            <p>
            {% if last_route %}
            We last saw you climbing at <a href="/gyms/brooklyn-boulders/">Brooklyn Boulders</a>.</p>
            {% else %}
            It doesn't look like you've climbed any routes yet.</p>
            <p><a href="">Find a gym here</a> to start recording your recent climbs.</p>
            {% endif %}
          </div>

          <div class="routeTable prepend-top" id="prevSession">
            <div class="routeTableHeader">
              <p class="large bottom">Last time out you climbed...</p>
            </div>
            <ul>
              {% for complete in prev_session %}
              <li>
              <div class="span-3">
                <div id="routeColor">
                  {% if not complete.route.secondary_color %}
                  <div style="background: {{ complete.route.primary_color }}; height: 36px;"></div>
                  {% else %}
                  <div style="float: left; background: {{ complete.route.primary_color }}; height: 36px; width: 50%;"></div>
                  <div style="float: left; background: {{ complete.route.secondary_color }}; height: 36px; width: 50%;"></div>
                  <div class="clear"></div>
                  {% endif %}
                </div>
              </div>

              <div class="span-11" id="routeInfo">
                <h5>{{ complete.route }}</h5>
                <p>{{ complete.route.wall }}</p>
              </div>

              <div class="span-2 last" id="routeDiff">
                <h3>{{ complete.route.difficulty }}</h3>
              </div>
              </li>
              <div class="clear"></div>
              {% endfor %}
            </ul>
          </div>

        </div>
        <!-------------- End div.leftColumn -------------->

        <div class="span-8 rightColumn last">
        </div>
  </div>

{% endblock %}
