{% extends "base.html" %}

{% block content %}

    <div id="container">
       <div id="body">
        <div style="align:center" id="content">
      <div class="fullPage" id="loggedInHomepage">
        <div class="leftColumn">
            <div id="personDetail">
              <div class="avatar"><a href="/user"><img width="50" height="50" src="http://playfoursquare.s3.amazonaws.com/userpix_thumbs/52449_1254346291971.jpg" alt="Ian W." /></a></div>
              <strong>New York, NY</strong>
              <h2>Hi <a href="/user">Ian Whalen</a></h2>
              <hr />

              
              <p>Last seen September 21, 2010 at: <a href="/venue/3167623">CULTUREfix</a></p>
            </div>
            

            
            <div id="friendsCheckins" class="contentContainer">
              <div class="header">
                <p>Friends' Recent Check-ins</p>
              </div>
              <div style="padding: 0;" class="grayBox flatTop">

                
              
                
                <div class="boxContainer">
                  <div class="avatar"><a href="/leeladj"><img width="60" height="60"  src="http://playfoursquare.s3.amazonaws.com/userpix_thumbs/ENE1DPSMLC5WLJDS.jpg" alt="Emily G." /></a></div>
                  <div class="content">
                    <h3><strong><a href="/leeladj">Emily G.</a></strong> @ <a href="/venue/65701">Lime Wire</a></h3>
                    
                    <small>45 Howard St, at Broadway -  2 hours ago</small>
                    
                  </div>

                </div>
                
                <div class="boxContainer">
                  <div class="avatar"><a href="/user/364364"><img width="60" height="60"  src="http://playfoursquare.s3.amazonaws.com/userpix_thumbs/QGEVZOHWMDKHBFQI.jpg" alt="Jeff P." /></a></div>
                  <div class="content">
                    <h3><strong><a href="/user/364364">Jeff P.</a></strong> @ <a href="/venue/20312">Dumbo General Store</a></h3>
                    
                    <small>111 Front St, btw Washington &amp; Adams St -  5 hours ago</small>

                    
                  </div>
                </div>
                
                <div class="boxContainer">
                  <div class="avatar"><a href="/ganetsky"><img width="60" height="60"  src="http://playfoursquare.s3.amazonaws.com/userpix_thumbs/VA0BVYRZC4NJ5KA0.jpg" alt="Jason G." /></a></div>
                  <div class="content">

                    <h3><strong><a href="/ganetsky">Jason G.</a></strong> @ <a href="/venue/3123718">Fariyas Resort Lonavala</a></h3>
                    
                    <small>Post box No. 8, Frichley Hill -  6 days ago</small>
                    
                  </div>
                </div>
                
                <div class="boxContainer">
                  <div class="avatar"><a href="/user/4105548"><img width="60" height="60"  src="http://playfoursquare.s3.amazonaws.com/userpix_thumbs/3FRPECHEFALOGXQI.jpg" alt="Paul N." /></a></div>
                  <div class="content">
                    <h3><strong><a href="/user/4105548">Paul N.</a></strong> @ <a href="/venue/9797136">Jack Baker's Wharfside</a></h3>

                    
                    <small> November 1, 2010</small>
                    
                  </div>
                </div>
                
              </div>
            </div>
            
          
         
          
        </div>
        
        <div class="rightColumn">
          
          <div class="contentContainer">
            <div class="header">
              <p>Start recording your climbs at:</p>
            </div>
            <div style="padding: 0;" class="grayBox flatTop">

              <div class="get-app">
                <a class="get-iphone" alt="Brooklyn Boulders" href="/gyms/brooklyn-boulders">Brooklyn Boulders</a>
              </div>
              <div class="get-app">
                <a class="get-android" href="/devices/android">gym1</a>
              </div>
              <div class="get-app">
                <a class="get-blackberry" href="/devices/blackberry">gym2</a>

              </div>
              <div class="get-app">
                <a class="get-nokia" href="http://store.ovi.com/content/56750">gym3</a>
              </div>
              <div class="get-app">
                <a class="get-palm" href="http://developer.palm.com/appredirect/?packageid=com.foursquare.foursquare">gym4</a>
              </div>
              <div class="get-app">

                <a class="get-windows" href="http://4square.codeplex.com/">gym5</a>
              </div>
            </div>
          </div>
          
          <div class="contentContainer newMayors">

            <div class="header">
              <a href="http://support.foursquare.com/entries/188303-what-is-a-foursquare-mayor" target="_blank">What's this?</a>
              <p>Newly Crowned Mayors</p>
            </div>
            <div class="grayBox flatTop" style="padding: 0;">
              <div class="boxContainer crown">
                <img src="img/crown.png" alt="crown" width="25" height="25" /> <p>Near New York, NY</p>

              </div>
              
              <div class="boxContainer">
                <div class="avatar"><a href="/mishmashed"><img alt="Michelle Y." src="http://playfoursquare.s3.amazonaws.com/userpix_thumbs/K13XNVNNV0I53WNZ.jpg" height="60" width="60" /></a></div> <p><a href="/mishmashed">Michelle Y.</a> @ <a href="/venue/6736571">Green Taste Truck</a></p>
              </div>
              
              <div class="boxContainer">
                <div class="avatar"><a href="/user/4811345"><img alt="Michael B." src="http://playfoursquare.s3.amazonaws.com/userpix_thumbs/32TAQUIDZ404RYPO.jpg" height="60" width="60" /></a></div> <p><a href="/user/4811345">Michael B.</a> @ <a href="/venue/1826024">Sunny John Pizzeria</a></p>

              </div>
              
              <div class="boxContainer">
                <div class="avatar"><a href="/thebridgewater"><img alt="Justin B." src="http://playfoursquare.s3.amazonaws.com/userpix_thumbs/4a64e3132dc12.jpg" height="60" width="60" /></a></div> <p><a href="/thebridgewater">Justin B.</a> @ <a href="/venue/4686080">TD Bank</a></p>
              </div>
              
              <div class="boxContainer">
                <div class="avatar"><a href="/user/3268530"><img alt="Joana v." src="http://playfoursquare.s3.amazonaws.com/userpix_thumbs/VECE4TIE04XORLQQ.jpg" height="60" width="60" /></a></div> <p><a href="/user/3268530">Joana v.</a> @ <a href="/venue/3475654">Zipcar Wilson Ave btwn George St &amp; Melrose St</a></p>

              </div>
              
              <div class="boxContainer">
                <div class="avatar"><a href="/eqx1979"><img alt="Chrysanthe T." src="http://playfoursquare.s3.amazonaws.com/userpix_thumbs/JE2LPFDLW4TXR3PG.jpg" height="60" width="60" /></a></div> <p><a href="/eqx1979">Chrysanthe T.</a> @ <a href="/venue/721151">New York Public Library - Ottendorfer Library</a></p>
              </div>
              
            </div>
          </div>

          <p><a href="/businesses/"><img height="90" width="285" alt="homepage-businesses" src="img/homepage-businesses.png" /></a></p>
          
          <p><img height="32" width="94" alt="finduson" src="img/finduson.png" />
          <a href="http://www.facebook.com/playfoursquare"><img height="32" width="32" alt="Facebook" src="img/icon_facebook_32.png" /></a>
          
          <a href="http://www.meetup.com/foursquare/"><img height="32" width="32" alt="Meetup" src="img/icon_meetup_32.png" /></a>
          <a href="http://twitter.com/foursquare"><img height="32" width="32" alt="Twitter" src="img/icon_twitter_32.png" /></a>
          <a href="http://www.youtube.com/foursquarehq"><img height="32" width="32" alt="YouTube" src="img/icon_youtube_32.png" /></a></p>
        </div>
        
        <div style="clear: both;"></div>

      </div>
    
        </div>
        <div style="clear: left"></div>

      </div>
    </div>

{% endblock %}




{% block footer %}
      
<div style="clear:both" id="footer">
    <div class="links">
        <div class="outsideContainer">
            <ul>
            <li><a href="/about">about</a></li>
            <li><a href="http://blog.ianwhalen.com">blog</a></li>
            <li><a href="/help">help</a></li>
            <li><a href="/contact">contact</a></li>
            <li><a href="/legal/terms">terms</a></li>
            </ul>
        </div>
    </div>
</div>

{% endblock %} 
