{% extends "m_base.html" %}

{% block content %}
<div id="content">
  <div class="">
    <div class="" id="wallTable">    
      <ul>

        <li id="gymName">
          <h3>{{ gym }}</h3>
        </li>

        {% for wall in wall_list %}
        <li class="wallName">
          <div class="left">
            <h4>{{ wall }}</h4>
          </div>
          <div class="right">
            <form action="{{ wall.get_absolute_url }}" method="link">
              <input type="submit" value=">" class="wallPageButton" />
            </form>
          </div>
          <div class="clear"></div>
        </li>
        {% endfor %}

      </ul>
    </div>
  </div>
</div>
{% endblock %}
