<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>{% block title %} the top out {% endblock %}</title>

		<meta name="description" content="An app to track your climbing."/>
		<meta name="keywords" content="bouldering, climbing"/>

    <link rel="stylesheet" type="text/css" href="/site_media/css/m_gym.css"/>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-21179527-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% load humanize_timesince %}
	</head>

	<body>
    <div id="header">
      <h2 style="float: left;">The Top Out</h2>
      <p style="float: right;">{{ user }}</p>
      <br/>
      <div class="clear"></div>
    </div>
		<div id="content">
        
      <ul class="ManageList" id="RouteList">
        <li id="gymName">
        <h3>{{ gym }}</h3>
        </li>
            {% regroup route_list by wall as walls %}
            {% for wall in walls %}
            <li class="wallName">
            <h4>{{ wall.grouper }}</h4>
            </li>
            {% for route in wall.list %}
            <li class="route">

							<div class="Column1">
								<div class="RouteColorImage">
									{% if not route.secondary_color %}
									<div style="background: {{ route.primary_color }}; height: 100%;"></div>
									{% else %}
									<div style="float: left; background: {{ route.primary_color }}; height: 50%; width: 16px;"></div>
									<div style="float: left; background: {{ route.secondary_color }}; height: 50%; width: 16px;"></div>
									{% endif %}
								</div>
                <h3>{{ route }}</h3>
                {% if route.latest_completed_route %}
                <p>{{ route.latest_completed_route|timesince_human }}</p>
                {% endif %}
              </div>

							<div class="Column2">
								<h3><b>{{ route.difficulty }}</b></h3>
              </div>

							<div class="Column4">
								<span>
								{% if user.is_authenticated %}
										<form action="/gyms/{{ gym.gym_slug }}/routes/{{ route.id }}/complete/" method="post">
											{% csrf_token %}
											<input type="hidden" name="route_id" value="{{ route.id }}" />
											<input type="submit" value="Done" class="newGreenButton" id="MarkRouteAsDone"/>
										</form>
								{% else %}
								<form action="{% url registration_register %}" method="link">
									<input type="submit" value="Mark As Done" class="newGreenButton" id="MarkRouteAsDone"/>
								</form>
								{% endif %}
								</span>
              </div>

							<div style="clear: both;"></div>
						</li>
            {% endfor %}
            {% endfor %}
					</ul>
    </div>
    <div id="footer">
    <hr>
    <a href="{% url auth_logout %}">Log Out</a>
    </div>
  </body>
